<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.online.mapper.TestMapper">

	<!-- 시험 삭제 -->
	<delete id="deleteTest" parameterType="Integer">
		DELETE FROM test
		WHERE test_no = #{testNo}
	</delete>

	<!-- 시험 상세보기 -->
	<select id="selectTestOne" resultType="goodee.gdj58.online.vo.Test" parameterType="Integer">
		SELECT test_no testNo
			, test_title testTitle
			, test_date testDate
			, teacher_id teacherId
		FROM test
		WHERE test_no = #{testNo}
	</select>
	
	<!-- 수정 -->
	<update id="updateTest" parameterType="goodee.gdj58.online.vo.Test">
		UPDATE test
		SET test_title = #{testTitle}
			, test_date = #{testDate}
		WHERE test_no = #{testNo}
	</update>
	
	<!-- 시험 추가 -->
	<insert id="insertTest" parameterType="goodee.gdj58.online.vo.Test">
		INSERT INTO test(
			test_title 
			, test_date
			, teacher_id 
		) VALUES(
			#{testTitle}
			, #{testDate}
			, #{teacherId}
		);
	</insert>
	
	<!-- 지난 시험 개수 -->
	<select id="selectPastTestCount" resultType="Integer" parameterType="java.util.Map">
		SELECT COUNT(*)
		FROM test
		<where>
			<if test="searchWord != null and searchWord != '' ">
				AND test_title LIKE CONCAT('%',#{searchWord},'%')
			</if>
			<if test="todayDate != null and todayDate != '' ">
				AND test_date <![CDATA[<]]> #{todayDate} 
			</if>
			<if test="teacherId != null and teacherId != '' ">
				AND teacher_id LIKE CONCAT(#{teacherId})
			</if>
		</where>
	</select>
	
	<!-- 예정 시험 개수 -->
	<select id="selectTestCount" resultType="Integer" parameterType="java.util.Map">
		SELECT COUNT(*)
		FROM test
		<where>
			<if test="searchWord != null and searchWord != '' ">
				AND test_title LIKE CONCAT('%',#{searchWord},'%')
			</if>
			<if test="todayDate != null and todayDate != '' ">
				AND test_date <![CDATA[>]]> #{todayDate} 
			</if>
			<if test="teacherId != null and teacherId != '' ">
				AND teacher_id LIKE CONCAT(#{teacherId})
			</if>
		</where>
	</select>
	
	<!-- 지난 시험 출력 -->
	<select id="selectPastTestList" resultType="goodee.gdj58.online.vo.Test" parameterType="goodee.gdj58.online.vo.Page">
		SELECT test_no testNo
			, test_title testTitle
			, test_date testDate
			, teacher_id teacherId
		FROM test
		<where>
			<if test="map.teacherId != null and map.teacherId != '' ">
				AND teacher_id LIKE CONCAT(#{map.teacherId})
			</if>
			<if test="map.searchWord != null and map.searchWord != '' ">
				AND test_title LIKE CONCAT('%',#{map.searchWord},'%')
			</if>
			<if test="map.todayDate != null and map.todayDate != '' ">
				AND test_date <![CDATA[<]]> #{map.todayDate} 
			</if>
		</where>
		ORDER BY test_date DESC
		LIMIT #{beginRow}, #{rowPerPage};
	</select>
	
	<!-- 시험 출력 -->
	<select id="selectTestList" resultType="goodee.gdj58.online.vo.Test" parameterType="goodee.gdj58.online.vo.Page">
		SELECT test_no testNo
			, test_title testTitle
			, test_date testDate
			, teacher_id teacherId
		FROM test
		<where>
			<if test="map.teacherId != null and map.teacherId != '' ">
				AND teacher_id LIKE #{map.teacherId}
			</if>
			<if test="map.searchWord != null and map.searchWord != '' ">
				AND test_title LIKE CONCAT('%',#{map.searchWord},'%')
			</if>
			<if test="map.todayDate != null and map.todayDate != '' ">
				AND test_date <![CDATA[>]]> #{map.todayDate} 
			</if>
		</where>
		ORDER BY test_date DESC
		<if test="currentPage != null and rowPerPage != null">
			LIMIT #{beginRow}, #{rowPerPage};
		</if>
	</select>
	
	<!-- 시험 모두 출력 -->
	<select id="selectAllTestList" resultType="goodee.gdj58.online.vo.Test">
		SELECT test_no testNo
			, test_title testTitle
			, test_date testDate
			, teacher_id teacherId
		FROM test
	</select>

</mapper>